In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("developer_survey_2019/survey_results_public.csv", index_col="Respondent")

In [4]:
filt = ( df["DevType"].str.contains("Data scientist or machine learning specialist", na=False) )
df.loc[filt, ["Country", "Hobbyist", "DevType"]].head(20)

,Country,Hobbyist,DevType
Respondent,,,
6,Canada,Yes,Data or business analyst;Data scientist or mac...
10,India,Yes,Data or business analyst;Data scientist or mac...
12,Canada,No,Data or business analyst;Data scientist or mac...
33,Argentina,No,Academic researcher;Data scientist or machine ...
62,Netherlands,Yes,Data or business analyst;Data scientist or mac...
66,Germany,Yes,Data scientist or machine learning specialist;...
97,United States,Yes,Data or business analyst;Data scientist or mac...
99,India,Yes,Academic researcher;Data or business analyst;D...
110,United States,Yes,Data or business analyst;Data scientist or mac...
129,United States,Yes,Academic researcher;Data scientist or machine ...
133,United States,Yes,Academic researcher;Data or business analyst;D...
145,Japan,Yes,Academic researcher;Data scientist or machine ...
146,United States,Yes,Data scientist or machine learning specialist;...
174,India,Yes,Academic researcher;Data or business analyst;D...
184,Latvia,Yes,Data scientist or machine learning specialist;...
189,Hong Kong (S.A.R.),Yes,Data or business analyst;Data scientist or mac...
192,Poland,Yes,Data scientist or machine learning specialist;...
197,Australia,No,Data or business analyst;Data scientist or mac...
199,Netherlands,Yes,Academic researcher;Data or business analyst;D...
202,Canada,Yes,Data scientist or machine learning specialist;...

In [7]:
df["Hobbyist"].head(50)

Respondent
1      Yes
2       No
3      Yes
4       No
5      Yes
      ...
96      No
97     Yes
98     Yes
99     Yes
100    Yes
Name: Hobbyist, Length: 100, dtype: object